
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	margin: 0px;
	padding: 0px;
}

h1 .title {
  width: 50px;
}

.App {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.links{
  width: 30%;
  padding:30px;
  margin: 2px;
}

 .links a{
  text-decoration: none;
  color: #e62e00;
  float: left;
  font-size:20px;
  padding:5px;
  display: inline;



}


.title{
  width: 50%;
}



.landing{

  background-image:url("../images/missing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin:0px;
  padding: 23%;
  border-top: #e62e00 2px solid;



}
 h1{
  font-family: 'Raleway', sans-serif;
  text-align: left;
  padding: 0;
  margin: 0px;
  margin-top: 0;
  width: 30%;
}

.btns{

  margin-left:-2%;
	text-align:center;
  position:absolute;
  margin-top:150px;


}

hr{
  width: 100%;
  margin-top: 0;
  margin: 0px;
  padding-top: 0;
  font-size: 40px;
  color:black;
}



.btns button{
  border: 0;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #e62e00;
  color: #fff;
  font-weight: 100;
  border:1px white solid;
}

.btns a{
  color:white;
  text-decoration: none;
}



button:hover{
   background-color:white;
  border:2px solid red;
  color:red;
}

.btns a:hover{
  color:red;

  text-decoration: none;
}
.quote-container{


  margin-top:80px;
  font-size:18px;
  margin-left:-20%;
  font-weight: bold;
  width: 70%;
  color: white;
  position:absolute;


}

.quotes{
  font-family: 'Raleway', sans-serif;
}

span{
  color:#e62e00;
  font-size: 45px;
}
