
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
	margin: 0px;
	padding: 0px;
}

.App {
  text-align: center;
}

.landing{

  /*background-image:url("../images/missing.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin:0px;
  color:blue;
  padding: 23%;
  

}

.btns{
	float:left;
	padding: 20px;
	text-align:center;
	margin-top:50px;

}

.btns button{
  border: 0;
  padding: 8px 20px;
  margin: 0 5px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: red;
  color: #fff;
  font-weight: 100;
}

.quote{
	float:left;
	text-align: center;
	padding: 10px;
	margin-top:20px;
	
   
}

.App-header {
  background-color: #f0f0f0;
  height: 20px;
  padding: 30px;
  margin: 0px;
  color: grey;
  
  border-bottom: 1px black solid;
}
/*
span{
	font-family: 'Dancing Script', cursive;
}
*/h1{
	margin: 0px;
	font-size: 40px;

}