button .button-missing{

    padding: 8px 12px;
    background-color: red;
    color: white;
    border-radius: 2px;

    

}

.form-Missing{
   background-image:url("../images/missing2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   width: 70%;
   padding: 20px;
   text-align: center;
   width: 50%;
   border: 2px solid black;
   margin: 50px auto;
   font-size: 15px;
}

.missing__card p{
   font-size: 15px;
}

.form-Missing label{
   color:black;
}


.form-title h1{
   margin: 20px auto;
   padding: 10px;
   text-align: center;
   width: 100%;
   font-family: 'Roboto Mono', monospace;

}

.form-Missing input[type="text"] {
   outline: none;
   width:50%;
   text-align: center;
   background-color: transparent;
   padding: 10px;
}



input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
   -webkit-text-fill-color: #2c3e50 !important;
}



.missing__card {
  background: #fff;
  padding: 2rem;
  margin: 10px;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  border:grey solid 2px;
  min-height: 500px;
  height:auto;
}
 .missing__card:hover{

  background-color: white;
  border:red solid 2px;

 }

.tip:hover{
  background-color: red;
  color:white;
}


.missing_card strong{
   font-size:5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color:#707070;
   opacity: 1; /* Firefox */
 }

.missing{
    width: 30%;
    margin: 0 auto;
    border-top: 1px solid black;
 }