button .button-missing{

    padding: 8px 12px;
    background-color: red;
    color: white;
    border-radius: 2px;

    

}

.form-Missing{
   padding: 20px;
   text-align: center;
   width: 50%;
   border: 2px solid black;
   margin: 50px auto;
   font-size: 20px;
}


.form-Missing label{
   color:black;
}


.form-title h1{
   margin: 20px auto;
   padding: 10px;
   text-align: center;
   width: 100%;
   font-family: 'Roboto Mono', monospace;

}

.form-Missing input[type="text"] {
   outline: none;
   width:50%;
   text-align: center;
   background-color: transparent;
   padding: 10px;
}



input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
   -webkit-text-fill-color: #2c3e50 !important;
}



.missing__card {
  background: #fff;
  padding: 2rem;
  margin: 10px;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
  border:grey solid 2px;
}
 .missing__card:hover{

  background-color: white;
  border:red solid 2px;

 }

.tip:hover{
  background-color: red;
  color:white;
}


.strong{
   font-size:15px;
}


.tip{
   text-align: center;
   padding: 4px 8px ;
   background-color: transparent;
   border: #282c34 solid 2px;
   text-transform: uppercase;
   border-radius: 5px;
   margin-left: 50px;
   color: red;

 }

 .tip:hover{
  background-color: red;
  color:white;
 }

